@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dnd-item {
  background-color: white;
  border-radius: 5px;
  color: #282c34;
  font-weight: bold;
}

.current {
  background-color: white;
}